<% content_for :title, 'Edit User' %>

<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to :back, class: 'mb-3 ml-2 btn' do %>
        <span>
          <i class="fas fa-arrow-left"></i> Go back
        </span>
      <% end %>

      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.error_notification %>

        <div class="row">
          <div class="col">
            <div class="d-flex flex-row">
              <%= f.input :avatar,
                          as: :file %>
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar_display %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group mt-2">
          <%= f.input :description,
                      label: false,
                      as: :text,
                      placeholder: 'Description',
                      input_html: { title: 'Description', rows: 5 } %>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <%= f.input :first_name,
                          autofocus: true,
                          label: false,
                          wrapper: false,
                          placeholder: 'First Name',
                          input_html: { title: 'First Name' } %>
            </div>
            <div class="col">
              <%= f.input :last_name,
                          label: false,
                          wrapper: false,
                          placeholder: 'Last Name',
                          input_html: { title: 'Last Name' } %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <%= f.input :username,
                          label: false,
                          wrapper: false,
                          placeholder: 'Username',
                          input_html: { title: 'Username' } %>
            </div>
            <div class="col">
              <%= f.input :gender,
                          collection: User.genders.map { |k, _v| [k.capitalize.gsub('_', ' '), k] },
                          required: true,
                          label: false,
                          wrapper: false,
                          input_html: { title: 'Gender' } %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <%= f.input :birth_date,
                          as: :date,
                          html5: true,
                          label: false,
                          input_html: { title: 'Birth Date' } %>
            </div>
            <div class="col">
              <%= f.input :email,
                          label: false,
                          placeholder: 'Email',
                          autocomplete: "email",
                          input_html: { title: 'Email' } %>
            </div>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <%= f.input :password,
                          label: false,
                          placeholder: 'New Password',
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          autocomplete: "new-password",
                          input_html: { title: 'New password' } %>
            </div>
            <div class="col">
              <%= f.input :password_confirmation,
                          label: false,
                          placeholder: 'New password confirmation',
                          autocomplete: "new-password",
                          input_html: { title: 'New password confirmation' } %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.input :current_password,
                      label: false,
                      placeholder: 'Current password',
                      hint: 'We need your current password to confirm your changes',
                      autocomplete: "current-password",
                      input_html: { title: 'Current password' } %>
        </div>

        <div class="form-group">
          <%= f.button :submit, "Update", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
                      data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger',
                      method: :delete %></p>
    </div>
  </div>
</div>
