$('#modal-title-users-liked').html(`<%= "Users (#{@comment.get_upvotes.size})" %>`)
$('#likes-count-comment-<%= @comment.id %>').html(
  `<%= j render partial: 'comments/likes', locals: { comment: @comment, current_user: current_user } %>`
)

<% unless @users.empty? %>
  <% if @pagy.prev.nil? %>
    $('#users-list').html(`<%= j render 'users/list' %>`)
  <% else %>
    $('#users-list').append(`<%= j render 'users/list' %>`)
  <% end %>
<% else %>
  $('#users-list').html(`<p class="text-center">Empty</p>`)
<% end %>

<% if @pagy.next.nil? %>
  $('#next_link_likes').remove()
<% else %>
  $('#div_next_link_likes').html(
    `<%== pagy_next_link(@pagy, 'More', 'id="next_link_likes", class="btn btn-primary"') %>`
  )
<% end %>

$('#modal-users-liked').modal('show')
