<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="opacity: 0.97">
  <div class="container">
    <%= link_to "WithoutPrivacy", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Explorer', explorer_path, class:"nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'My Profile', user_path(current_user), class:'nav-link' %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
              <%= current_user.username %>
            </a>
            <div class="dropdown-menu">
              <%= link_to 'Edit profile', edit_user_registration_path, class:'dropdown-item'%>
              <div class="dropdown-divider"></div>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete,
                          class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign in', user_session_path, class:'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
