<% @users.each do |user| %>
  <%= link_to user_path(user), class: 'list-group-item btn text-left', style: 'padding: 0; margin: 5px 10px' do %>
    <div class="media">
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar_thumbnail, class: 'border rounded-circle' %>
      <% else %>
        <div class="no-avatar">
          <%= user.first_name.first + user.last_name.first %>
        </div>
      <% end %>
      <div class="media-body ml-2">
        <h6 class="mt-0">
          <span class="username"><%= user.username %></span>
        </h6>
        <% if user.description.present? %>
          <p>
            <span class="text-muted"><%= user.description %></span>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
