<% content_for :title, "#{action_name.capitalize} of @#{@user.username}" %>

<%= link_to :back, class: 'mb-3 ml-2 btn' do %>
  <span>
    <i class="fas fa-arrow-left"></i> Go back
  </span>
<% end %>

<div class="row">
  <div class="col-12">
    <h2 class="ml-3 mb-4" style="text-transform: uppercase;">
      <%= "#{action_name} (#{@users.size})" %>
    </h2>

    <% unless @users.empty? %>
      <ul class="list-group list-group-flush">
        <% @users.each do |user| %>
          <%= link_to user_path(user), class: 'list-group-item btn' do %>
            <div class="d-flex">
              <%= image_tag user.avatar_thumbnail, class: 'border rounded-circle' %>
              <div class="text-left ml-1">
                <div class="col-12">
                  <span class="username"><%= user.username %></span>
                </div>
                <% if user.description.present? %>
                  <div class="col-12">
                    <span class="text-muted"><%= user.description %></span>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center">Empty</p>
    <% end %>
  </div>
</div>
