<%= javascript_pack_tag 'users/show', 'data-turbolinks-track': 'reload' %>

<% content_for :title, @user.username %>

<div class="row">
  <div class="col-12 col-lg-4 mb-5">
    <div class="sticky-top pt-3">
      <div class="card">
        <div class="card-header">
          <div class="media">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar_thumbnail, class: 'border rounded-circle' %>
          <% else %>
            <div class="no-avatar">
              <%= @user.first_name.first + @user.last_name.first %>
            </div>
          <% end %>
            <div class="media-body ml-3">
              <h5 class="mt-0"><%= "#{@user.first_name} #{@user.last_name}" %></h5>
              <%= "@#{@user.username}" %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= markdown @user.description if @user.description.present? %>

          <div class="row">
            <div class="col-12">
              <% if @user.male? %>
                <i class="fas fa-mars"></i> <%= @user.gender.capitalize %>
              <% elsif @user.female? %>
                <i class="fas fa-venus"></i> <%= @user.gender.capitalize %>
              <% elsif @user.other? %>
                <i class="fas fa-transgender-alt"></i> <%= @user.gender.capitalize %>
              <% end %>
            </div>
            <div class="col-12">
              <i class="fas fa-birthday-cake"></i> <%= l @user.birth_date, format: :long %>
            </div>
            <div class="col-12">
              <i class="fas fa-envelope"></i> <%= @user.email %>
            </div>

            <div class="col-12 d-flex justify-content-between mt-2 mb-4">
              <span><%= @user.posts.count %> posts</span>

              <% if policy(@user).followers? %>
                <%= link_to followers_user_path(@user), class: 'follows', remote: :true do %>
                  <span><%= pluralize(@user.followers_count, 'followers') %></span>
                <% end %>
              <% else %>
                <span><%= pluralize(@user.followers_count, 'followers') %></span>
              <% end %>

              <% if policy(@user).followings? %>
                <%= link_to followings_user_path(@user), class: 'follows', remote: :true do %>
                  <span><%= @user.following_users_count %> following</span>
                <% end %>
              <% else %>
                <span><%= @user.following_users_count %> following</span>
              <% end %>
            </div>

            <div class="col-12 d-flex justify-content-around">
              <% unless current_user == @user %>
                <% if policy(@user).follow? %>
                  <%= link_to 'Follow', follow_user_path(@user), class: 'btn btn-primary' %>
                <% end %>

                <% if policy(@user).unfollow? %>
                  <%= link_to 'Unfollow', unfollow_user_path(@user), class: 'btn btn-outline-primary' %>
                <% end %>

                <%# link_to 'Message', '#', class: 'btn btn-outline-secondary' %>

                <% if policy(@user).unblock? %>
                  <%= link_to 'Unblock', unblock_user_path(@user), class: 'btn btn-danger' %>
                <% else %>
                  <%= link_to 'Block', block_user_path(@user), class: 'btn btn-outline-danger' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8">
    <% if @user == current_user %>
      <div class="text-center mb-4">
        <%= link_to '+', new_post_path, class: 'btn btn-primary border rounded-circle',
                    title: 'Create a new post' %>
      </div>
    <% end %>
    <% unless @user.blocked? current_user %>
      <% if @user.posts.count > 0 %>
        <%= render partial: 'posts/show', locals: { posts: @user.posts.order(created_at: :desc) } %>
      <% else %>
        <h2 class="text-center">No posts</h2>
      <% end %>
    <% else %>
      <h2 class="text-center">
        You have been blocked by <%= "@#{@user.username}" %>, so you can't see any post.
      </h2>
    <% end %>
  </div>
</div>

<div class="modal fade" id="modal-follows" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title-follows">Follows</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush" id="follows-list">
        </ul>
      </div>
    </div>
  </div>
</div>
