<%= javascript_pack_tag 'pages/pagination', 'data-turbolinks-track': 'reload' %>

<% content_for :title, 'Explorer' %>

<div class="row">
  <div class="col-12 col-lg-4 mb-4">
    <div class="sticky-top pt-2">
      <div class="card mt-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h3>Relevant people</h3></li>

          <% if @users.empty? %>
            <p class="text-center mt-2">Empty</p>
          <% else %>
            <% @users.each do |user| %>
              <li class="list-group-item">
                <div class="media">
                  <% if user.avatar.attached? %>
                    <%= image_tag user.avatar_thumbnail, class: 'border rounded-circle' %>
                  <% else %>
                    <div class="no-avatar">
                      <%= user.first_name.first + user.last_name.first %>
                    </div>
                  <% end %>

                  <%= link_to user_path(user), class: 'btn' do %>
                    <span class="username"><%= user.username %></span>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8" id="posts">
    <% if @posts.size > 0 %>
      <%= render partial: 'posts/show', locals: { posts: @posts } %>
    <% else %>
      <h2 class="text-center">No posts</h2>
    <% end %>
  </div>

  <% unless @pagy.next.nil? %>
    <div id="div_next_link" class="d-none">
      <%== pagy_next_link(@pagy, '', 'id="next_link"') %>
    </div>
  <% end %>
</div>
