<%= javascript_pack_tag 'pages/pagination', 'data-turbolinks-track': 'reload' %>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-12 col-lg-4 mb-4">
      <div class="sticky-top pt-3">
        <div class="card my-3">
          <li class="list-group-item"><h3>Stories</h3></li>

          <li class="list-group-item text-center">Soon</li>
        </div>

        <div class="card my-3">
          <li class="list-group-item"><h3>Chats</h3></li>

          <% @chats.each do |user| %>
            <li class="list-group-item">
              <div class="media">
                <% if user.avatar.attached? %>
                  <%= image_tag user.avatar_thumbnail, class: 'border rounded-circle' %>
                <% else %>
                  <div class="no-avatar">
                    <%= user.first_name.first + user.last_name.first %>
                  </div>
                <% end %>

                <%= link_to chat_user_path(user), class: 'btn' do %>
                  <span class="username"><%= user.username %></span>
                <% end %>
              </div>
            </li>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8" id="posts">
      <%= render partial: 'posts/new_button' %>

      <% if @posts.size > 0 %>
        <%= render partial: 'posts/show', locals: { posts: @posts } %>
      <% else %>
        <h2 class="text-center">
          There is not posts, please start following users and create your own posts
        </h2>
      <% end %>
    </div>

    <% unless @pagy.next.nil? %>
      <div id="div_next_link" class="d-none">
        <%== pagy_next_link(@pagy, '', 'id="next_link"') %>
      </div>
    <% end %>
  </div>
<% else %>
  <h2 class="mt-3 mb-4">
    Enter into our community :D
  </h2>

  <p>
    Come on and sign up in our page, where you can share all your happy moments, well,
    all your data, and if it's your personal information it would be better, because remember
    <strong>privacy is overrated</strong> :)
  </p>
<% end %>
