<% if !post.private? || (post.private? && post.user == current_user) %>
  <% if post.image.attached? %>
    <div class="card card-image bg-dark my-3">
      <%= image_tag post.image, class: 'card-img' %>

      <div class="card-img-overlay text-white d-none" data-url= "<%= post_url post %>">
        <div class="d-flex justify-content-between">
          <div>
            <%= link_to user_path(post.user), class: 'btn text-white' do %>
              <%= image_tag post.user.avatar_thumbnail, class: 'border rounded-circle' %>
              <span class="username"><%= post.user.username %></span>
            <% end %>

            <% if post.description.present? %>
              <p class="card-text"><%= post.description.truncate 200 %></p>
            <% end %>
            <p class="card-text">
              <small><%= time_ago_in_words(post.created_at).capitalize %></small>
            </p>
          </div>

          <% if post.private? %>
            <div>
              <span class="badge badge-secondary">Private</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card bg-light my-3">
      <div class="card-header d-flex justify-content-between">
        <%= link_to user_path(post.user), class: 'btn' do %>
          <%= image_tag post.user.avatar_thumbnail, class: 'border rounded-circle' %>
          <span class="username"><%= post.user.username %></span>
        <% end %>
        <% if post.private? %>
          <div>
            <span class="badge badge-secondary">Private</span>
          </div>
        <% end %>
      </div>
      <%= link_to post_path(post), class: 'btn text-left' do %>
        <div class="card-body">
          <p class="card-text"><%= post.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= time_ago_in_words(post.created_at).capitalize %></small>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
