<%= javascript_pack_tag 'posts/post', 'data-turbolinks-track': 'reload' %>

<% if @post.description.present? %>
  <% content_for :title, "#{@post.user.username} on post: #{@post.description.truncate(26)}" %>
<% else %>
  <% content_for :title, "#{@post.user.username} post" %>
<% end %>

<%= link_to :back, class: 'mb-3 ml-2 btn' do %>
  <span>
    <i class="fas fa-arrow-left"></i> Go back
  </span>
<% end %>

<% if @post.image.attached? %>
  <div class="row">
    <div class="col-md-8" style="padding: 0">
      <%= image_tag @post.image, class: 'card-img sticky-top pt-3' %>
    </div>

    <div class="col-md-4 mt-3" style="padding: 0 4px">
      <div class="card mb-3">
        <div class="no-gutters">
          <div class="card-body">
            <%= link_to user_path(@post.user), class: 'btn mb-2' do %>
              <% if @post.user.avatar.attached? %>
                <%= image_tag @post.user.avatar_thumbnail, class: 'border rounded-circle' %>
              <% else %>
                <div class="no-avatar">
                  <%= @post.user.first_name.first + @post.user.last_name.first %>
                </div>
              <% end %>
              <span class="username"><%= @post.user.username %></span>
            <% end %>

            <% if @post.description.present? %>
              <%= markdown @post.description %>
            <% end %>

            <p class="card-text">
              <small class="text-muted"><%= time_ago_in_words(@post.created_at).capitalize %></small>
            </p>

            <% if @post.user == current_user %>
              <div class="d-flex justify-content-end my-3">
                <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success mr-2' %>
                <%= link_to 'Delete', post_path(@post), method: :delete,
                            data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
              </div>
            <% end %>

            <div class="row">
              <div class="col-6 text-center">
                <div id="likes-count-<%= @post.id %>">
                  <%= render 'posts/likes', post: @post %>
                </div>
              </div>
              <div class="col-6 text-center" id="show-comments-count">
                <span><%= pluralize(@post.comments.count, 'Comment') %></span>
              </div>
              <div class="col-6 text-center">
                <div id="like-link-<%= @post.id %>">
                  <%= render 'posts/like_link', post: @post %>
                </div>
              </div>
              <div class="col-6 text-center">
                <i class="fas fa-comment-dots"></i>
              </div>
            </div>

            <div class="mt-3">
              <ul class="list-group list-group-flush" id="comments-list">
                <%= render partial: 'comments/list', locals: { comments: @post.comments } %>
              </ul>
            </div>

            <%= form_with url: post_comments_path(@post) do |f| %>
              <div class="d-flex justify-content-around align-items-center">
                <div class="w-100 m-2">
                  <%= f.text_area :text,
                                  class: 'form-control',
                                  id:"text-area-#{@post.id}",
                                  size: '60x2',
                                  style:'resize: none' %>
                </div>
                <div class="m-2">
                  <%= f.submit 'Send', class: 'btn btn-success' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="card w-100">
    <div class="card-body">
      <%= link_to user_path(@post.user), class: 'btn mb-2' do %>
        <% if @post.user.avatar.attached? %>
          <%= image_tag @post.user.avatar_thumbnail, class: 'border rounded-circle' %>
        <% else %>
          <div class="no-avatar">
            <%= @post.user.first_name.first + @post.user.last_name.first %>
          </div>
        <% end %>
        <span class="username"><%= @post.user.username %></span>
      <% end %>
      <%= markdown @post.description %>
      <p class="card-text">
        <small class="text-muted"><%= time_ago_in_words(@post.created_at).capitalize %></small>
      </p>

      <% if policy(@post).edit? && policy(@post).destroy? %>
        <div class="d-flex justify-content-end my-3">
          <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success mr-2' %>
          <%= link_to 'Delete', post_path(@post), method: :delete,
                      data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-6 text-center">
          <div id="likes-count-<%= @post.id %>">
            <%= render 'posts/likes', post: @post %>
          </div>
        </div>
        <div class="col-6 text-center" id="show-comments-count">
          <span><%= pluralize(@post.comments.count, 'Comment') %></span>
        </div>
        <div class="col-6 text-center">
          <div id="like-link-<%= @post.id %>">
            <%= render 'posts/like_link', post: @post %>
          </div>
        </div>
        <div class="col-6 text-center">
          <i class="fas fa-comment-dots"></i>
        </div>
      </div>

      <div class="my-3">
        <ul class="list-group list-group-flush" id="comments-list">
          <%= render partial: 'comments/list', locals: { comments: @post.comments } %>
        </ul>
      </div>

      <%= form_with url: post_comments_path(@post) do |f| %>
        <div class="d-flex justify-content-around align-items-center">
          <div class="w-100 m-2">
            <%= f.text_area :text,
                            class: 'form-control',
                            id:"text-area-#{@post.id}",
                            size: '60x2',
                            style:'resize: none' %>
          </div>
          <div class="m-2">
            <%= f.submit 'Send', class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'posts/modal_likes' %>
