<%= javascript_pack_tag 'posts/post', 'data-turbolinks-track': 'reload' %>

<% if @post.description.present? %>
  <% content_for :title, "#{@post.user.username} on post: #{@post.description.truncate(26)}" %>
<% else %>
  <% content_for :title, "#{@post.user.username} post" %>
<% end %>

<%= link_to :back, class: 'mb-3 ml-2 btn' do %>
  <span>
    <i class="fas fa-arrow-left"></i> Go back
  </span>
<% end %>

<% if @post.image.attached? %>
  <div class="row">
    <div class="col-md-8" style="padding: 0">
      <%= image_tag @post.image, class: 'card-img sticky-top pt-3' %>
    </div>

    <div class="col-md-4 mt-3" style="padding: 0 4px">
      <div class="card mb-3">
        <div class="no-gutters">
          <div class="card-body">
            <%= link_to user_path(@post.user), class: 'btn mb-2' do %>
              <% if @post.user.avatar.attached? %>
                <%= image_tag @post.user.avatar_thumbnail, class: 'border rounded-circle' %>
              <% else %>
                <div class="no-avatar">
                  <%= @post.user.first_name.first + @post.user.last_name.first %>
                </div>
              <% end %>
              <span class="username"><%= @post.user.username %></span>
            <% end %>

            <% if @post.description.present? %>
              <%= markdown @post.description %>
            <% end %>

            <p class="card-text">
              <small class="text-muted"><%= time_ago_in_words(@post.created_at).capitalize + ' ago' %></small>
            </p>

            <%= render partial: 'posts/edit_delete_buttons', locals: { post: @post } %>

            <%= render partial: 'posts/like_comment_buttons', locals: { post: @post } %>

            <div class="mt-3">
              <%= render partial: 'comments/index', locals: { post: @post, comments: @comments, pagy: @pagy } %>
            </div>

            <%= render partial: 'comments/new', locals: { post: @post } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="card w-100">
    <div class="card-body">
      <%= link_to user_path(@post.user), class: 'btn mb-2' do %>
        <% if @post.user.avatar.attached? %>
          <%= image_tag @post.user.avatar_thumbnail, class: 'border rounded-circle' %>
        <% else %>
          <div class="no-avatar">
            <%= @post.user.first_name.first + @post.user.last_name.first %>
          </div>
        <% end %>
        <span class="username"><%= @post.user.username %></span>
      <% end %>

      <%= markdown @post.description %>

      <p class="card-text">
        <small class="text-muted"><%= time_ago_in_words(@post.created_at).capitalize + ' ago' %></small>
      </p>

      <%= render partial: 'posts/edit_delete_buttons', locals: { post: @post } %>

      <%= render partial: 'posts/like_comment_buttons', locals: { post: @post } %>

      <div class="my-3">
        <%= render partial: 'comments/index', locals: { post: @post, comments: @comments, pagy: @pagy } %>
      </div>

      <%= render partial: 'comments/new', locals: { post: @post } %>
    </div>
  </div>
<% end %>

<%= render partial: 'posts/modal_likes' %>
