<!DOCTYPE html>
<html>
  <head>
    <title>
      WithoutPrivacy <%= "- #{yield :title}" if content_for :title %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/079ea5cde4.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'partials/navbar' %>

    <div class="container my-2">
      <%= render 'partials/alerts' %>

      <div class="mt-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
